@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .details-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 90px;
    background-color: #ffffff;
    box-shadow: 2px 1px 0px #e8e8e8;
  }
}

@media screen and (min-width: 768px) {
  .image {
    height: 100%;
    width: 30%;
  }
}
@media screen and (min-width: 768px) {
  .text-container {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 25px;
    font-family: 'Roboto';

    font-weight: 500;
    color: #1e293b;
  }
}

@media screen and (min-width: 768px) {
  .description {
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 300;
    color: #64748b;
  }
}
