@media screen and (min-width: 768px) {
  .nav {
    height: 100px;
    background-color: #f1f5f9;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    height: 90px;
    width: 100px;
    margin-left: 80px;
  }
}
@media screen and (min-width: 768px) {
  .link {
    text-decoration: none;
  }
}
